<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<p>
  <strong>App:</strong>
  <%= @box.app_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @box.note %>
</p>

<p>
  <strong>Permissions:</strong>
  <%= @box.permissions %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
