<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Member:</strong>
  <%= @app.member_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @app.note %>
</p>

<p>
  <strong>App key:</strong>
  <%= @app.app_key %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @app.domain %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
